.slideshow {
	width: 700px;
	height: 400px;
	overflow: hidden;
	border: 3px solid #F2F2F2;
	align-content: center;
	justify-content: center;
 }
 
 .slideshow ul {
	 /* 4 images donc 4 x 100% */
	width: 400%;
	height: 400px;
	padding:0; margin:0;
	list-style: none;
	display: flex;
 }
 .slideshow li {
	float: left;
}

/*
	afin d'éviter de modifier un par un les sélecteurs, ceci est (a priori) indispensable :
*/
.image-dans-caroussel{
	width: 700px;
	height: 400px;
 }

/*
*/

