.slideshow {
	width: 350px;
	height: 200px;
	overflow: hidden;
	border: 3px solid #F2F2F2;
 }
 
 .slideshow ul {
	width: 700%;
	height: 400px;
	padding:0; margin:0;
	list-style: none;
	display: flex;
 }
 .slideshow li {
	float: left;
 }

 #conteneur {
	position: relative;
	left: 500px;
 }